// Modeled after ITCSS https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
// https://en.bem.info/methodology/quick-start/
// https://en.bem.info/methodology/naming-convention/

$page-max-width: 1400px;
$page-content-bg: #e7cfc3;
$main-border-radius: 4px;
$border-radius-v3: 4px;
$page-title-font-size: min(5vw, 50px);

// vuetify pallete colors
$grey-lighten-5: #fafafa;
$grey-lighten-4: #f5f5f5;
$grey-lighten-3: #eeeeee;
$grey-lighten-2: #e0e0e0;
$grey-lighten-1: #bdbdbd;

$teal-lighten-1: #26a69a;
$teal: #009688;
$teal-darken-1: #00897b;
$teal-darken-2: #00796b;
$teal-darken-3: #00695c;
$teal-darken-4: #004d40;

/*
// https://colorhunt.co/palette/a75d5dd3756bf0997dffc3a1
#A75D5D
#D3756B
#F0997D
#FFC3A1

https://colorhunt.co/palette/fdeedcffd8a9f1a661e38b29
#FDEEDC
#FFD8A9
#F1A661
#E38B29
*/

// bg colors
$primary: #D3756B; // $teal-darken-2;
$secondary: #F0997D; // $teal-lighten-1;
$tertiary: #f8d3bd; // ffe0cb f8d3bd fdc5a8 fdc5a8 $teal-lighten-1;
$tertiary-action: #A75D5D;
$light-primary: #e7cfc3;

// font colors
$font-primary: #fff;
$font-primary-shadow: #854343;

// opacity
$header-opacity: 0.4;
$header-services-opacity: 0.4;

// text colors
$text-on-dark: #ffffff;
$text-body: #333;

// breakpoints
$breakpoint-sm-min: 600px;
$breakpoint-md-min: 960px;
$breakpoint-lg-min: 1264px;
$breakpoint-xl-min: 1904px;
@mixin upToSm {
  @media (max-width: #{$breakpoint-sm-min - 1 }) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$breakpoint-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin upToMd {
  @media (max-width: #{$breakpoint-md-min - 1 }) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$breakpoint-md-min}) {
    @content;
  }
}

// Large devices
@mixin upToLg {
  @media (max-width: #{$breakpoint-lg-min - 1 }) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$breakpoint-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$breakpoint-xl-min}) {
    @content;
  }
}

// site wide css
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

// dialog selectors
.photo-gallery-dialog {
  .caption-text {
    font-size: 100%;
  }

  .change-view-btns {
    display: flex;

    :deep(.v-btn) {
      flex: 1 0 auto;
    }
  }
}

html * {
  font-family: "Helvetica", "Times New Roman", 'Cormorant Garamond', sans-serif !important;
  font-size: 1.0rem;
}

html h1 {
  font-weight: 500;
}

.page {
  min-height: 500px;
}

.dr-min-app {
  color-scheme: normal;
  --v-theme-background: 255, 255, 255;
  --v-theme-background-overlay-multiplier: 1;
  --v-theme-surface: 255, 255, 255;
  --v-theme-surface-overlay-multiplier: 1;
  --v-theme-surface-bright: 255, 255, 255;
  --v-theme-surface-bright-overlay-multiplier: 1;
  --v-theme-surface-variant: 66, 66, 66;
  --v-theme-surface-variant-overlay-multiplier: 2;
  --v-theme-on-surface-variant: 238, 238, 238;
  --v-theme-primary: 211, 117, 107;
  --v-theme-primary-overlay-multiplier: 1;
  --v-theme-primary-darken-1: 31, 85, 146;
  --v-theme-primary-darken-1-overlay-multiplier: 2;
  --v-theme-secondary: 240, 153, 125;
  --v-theme-secondary-overlay-multiplier: 1;
  --v-theme-secondary-darken-1: 1, 135, 134;
  --v-theme-secondary-darken-1-overlay-multiplier: 1;
  --v-theme-error: 255, 204, 0;
  --v-theme-error-overlay-multiplier: 1;
  --v-theme-info: 59, 130, 246;
  --v-theme-info-overlay-multiplier: 1;
  --v-theme-success: 34, 197, 94;
  --v-theme-success-overlay-multiplier: 1;
  --v-theme-warning: 245, 158, 11;
  --v-theme-warning-overlay-multiplier: 1;
  --v-theme-on-background: 0, 0, 0;
  --v-theme-on-surface: 0, 0, 0;
  --v-theme-on-surface-bright: 0, 0, 0;
  --v-theme-on-primary: 255, 255, 255;
  --v-theme-on-primary-darken-1: 255, 255, 255;
  --v-theme-on-secondary: 0, 0, 0;
  --v-theme-on-secondary-darken-1: 255, 255, 255;
  --v-theme-on-error: 0, 0, 0;
  --v-theme-on-info: 255, 255, 255;
  --v-theme-on-success: 0, 0, 0;
  --v-theme-on-warning: 0, 0, 0;
  --v-border-color: 0, 0, 0;
  --v-border-opacity: 0.12;
  --v-high-emphasis-opacity: 0.87;
  --v-medium-emphasis-opacity: 0.6;
  --v-disabled-opacity: 0.38;
  --v-idle-opacity: 0.04;
  --v-hover-opacity: 0.04;
  --v-focus-opacity: 0.12;
  --v-selected-opacity: 0.08;
  --v-activated-opacity: 0.12;
  --v-pressed-opacity: 0.12;
  --v-dragged-opacity: 0.08;
  --v-theme-kbd: 33, 37, 41;
  --v-theme-on-kbd: 255, 255, 255;
  --v-theme-code: 245, 245, 245;
  --v-theme-on-code: 0, 0, 0;
}
