// Modeled after ITCSS https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
// https://en.bem.info/methodology/quick-start/
// https://en.bem.info/methodology/naming-convention/

$page-max-width: 2240px;
$page-content-bg: #eee;
$main-border-radius: 4px;
$border-radius-v3: 12px;
$page-title-font-size: min(5vw, 50px);

// vuetify pallete colors
$grey-lighten-5: #fafafa;
$grey-lighten-4: #f5f5f5;
$grey-lighten-3: #eeeeee;
$grey-lighten-2: #e0e0e0;
$grey-lighten-1: #bdbdbd;

$teal-lighten-1: #26a69a;
$teal: #009688;
$teal-darken-1: #00897b;
$teal-darken-2: #00796b;
$teal-darken-3: #00695c;
$teal-darken-4: #004d40;

/*
// https://colorhunt.co/palette/a75d5dd3756bf0997dffc3a1
#A75D5D
#D3756B
#F0997D
#FFC3A1

https://colorhunt.co/palette/fdeedcffd8a9f1a661e38b29
#FDEEDC
#FFD8A9
#F1A661
#E38B29
*/



// bg colors
$primary: #D3756B; // $teal-darken-2;
$secondary: #F0997D; // $teal-lighten-1;
$tertiary: #FFC3A1; // $teal-lighten-1;
$tertiary-action: #A75D5D;
$light-primary: #A75D5D;

// text colors
$text-on-dark: #ffffff;

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

// dialog selectors
.photo-gallery-dialog {
  .caption-text {
    font-size: 100%;
  }
  .change-view-btns {
    display: flex;
    :deep(.v-btn) {
      flex: 1 0 auto;
    }
  }
}

html * {
  font-family: "Helvetica", "Times New Roman", 'Cormorant Garamond', sans-serif !important;
  font-size: 1.0rem;
}

html h1 {
  font-weight: 500;
}

.page {
  min-height: 500px;
}
